<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.sps.com.adat">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="app.sps.com.adat.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="app.sps.com.adat.TransListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="app.sps.com.adat.AddTransActivity"
            android:label="@string/title_activity_add_trans"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="app.sps.com.adat.NewCustomerActivity"
            android:label="@string/title_activity_new_customer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="app.sps.com.adat.NewLocationActivity"
            android:label="@string/title_activity_new_location"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="app.sps.com.adat.TransactionListActivity"
            android:label="@string/title_activity_transaction_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="app.sps.com.adat.NewProductActivity"
            android:label="@string/title_activity_new_product"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="app.sps.com.adat.NewActivity"
            android:label="@string/title_activity_new"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>